#leftPanel {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  display: grid;
  place-items: center;
}
#rightPanel {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 25%;
  border-left: 2px solid white;
  text-align: center;
}

#users {
  height: 100%;
  border-top: 2px solid white;
  width: auto;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 1em;
  grid-template-columns: 1fr;
}
#user {
  border-bottom: 2px solid white;
  margin: 0px 0px, 0px, 10px;
  text-align: center;
  width: 100%;
  font-size: 3em;
}
#gameCode {
  font-size: 3em;
}
.turnUI {
  width: 15px;
  height: 100%;
  display: grid;
  align-items: center;
}
.turnUI div {
  border-radius: 10px;
  height: 80%;
  width: auto;
  background-color: gray;
}
#gameBoard {
  grid-auto-flow: column;
  gap: 10px;
  width: auto;
  display: grid;
  gap: 10px;
}
#boardBox {
  display: grid;
  width: auto;
  text-align: center;
  place-items: center;
}
#boardBox h3 {
  margin: 0px;
  font-size: 2em;
}
#topTeamName {
  width: auto;
}
#bottomTeamName {
  width: auto;
}

@media (max-width: 1000px) {
  #leftPanel {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: auto;
    height: 50px;
    width: 100%;
    font-size: 0.4rem;
    text-align: center;
    text-justify: bottom;
  }
  #rightPanel {
    display: none;
  }
  #gameBoard {
    gap: 5px;
  }
  .turnUI {
    width: 10px;
  }
  #boardBox h3 {
    margin: 0px;
    font-size: 1.5em;
  }
}
