#leftPanel {
  height: 100%;
  width: 25%;
  display: grid;
  place-items: center;
}
#rightPanel {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 25%;
  border-left: 2px solid white;
  text-align: center;
}

#users {
  height: 100%;
  border-top: 2px solid white;
  width: auto;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 1em;
  grid-template-columns: 1fr;
}
#user {
  border-bottom: 2px solid white;
  margin: 0px 0px, 0px, 10px;
  text-align: center;
  width: 100%;
  font-size: 3em;
}
#gameCode {
  font-size: 5em;
}

@media (max-width: 750px) {
  #leftPanel {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    font-size: 0.6rem;
    text-align: center;
    text-justify: bottom;
  }
  #rightPanel {
    display: none;
  }
}
