html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  height: 100%;
  font-family: "Josefin_Sans";
  overflow: hidden;
}
body {
  position: relative;
}
@font-face {
  font-family: "PT_Sans";
  src: url("fonts/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
  font-family: "Josefin_Sans";
  src: url("fonts/Josefin_Sans/static/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: "Staatliches";
  src: url("fonts/Staatliches.ttf");
}
input {
  font-size: 2rem;
  text-align: center;
  font-family: "Josefin_Sans";
  border-radius: 10px;
  background-color: black;
  border: 5px white solid;
  color: white;
  height: 50px;
}
button {
  font-family: "staatliches";
  font-size: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}
.cornerButtons {
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  display: grid;
  grid-auto-flow: column;
}
.cornerButtons button {
  margin: 25px 0px 0px 25px;
}
.cornerButtons button p {
  margin: 0px;
  font-size: 1em;
}
.title {
  font-size: 5rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  font-size: 1.5rem;
}
.hidden {
  display: none !important;
}
#homepage,
#gamepage,
#rulespage {
  height: 100%;
}
.centerBox {
  display: grid;
  place-items: Center;
  width: 500px;
  gap: 1rem;
}

.centerContainer {
  display: grid;
  place-items: Center;
  height: 100%;
}
@media (max-width: 1000px) {
  .title {
    font-size: 3rem;
  }
  .centerBox {
    display: grid;
    place-items: Center;
    width: 80%;
    gap: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .cornerButtons {
    place-items: center;
    width: 100%;
    grid-auto-flow: column;
  }
  .cornerButtons button {
    margin: 10px 2px 10px 2px;
    padding: 2px 10px 2px 10px;
  }
  button {
    font-size: 1.4rem;
  }
}
