#divider {
  width: 100%;
  border-top: 3px solid white;
  margin-top: 75px;
}
#new {
  margin: 0;
}
#redcircle {
  display: none;
  position: fixed;

  left: -50px;
  top: 0;
  height: 100%;
  z-index: 0;
}

#homeLogo {
  height: 100px;
}
.title {
  margin-top: -30px;
}
@media (max-width: 700px) {
  input {
    width: 80%;
  }
  #homeLogo {
    height: 80px;
  }
}
@media (max-height: 700px) {
  #divider {
    margin-top: 10px;
  }
  .title {
    margin-bottom: 0px;
  }
}
