#buttons {
  position: fixed;
  left: 25px;
  top: 25px;
  display: grid;
  gap: 1rem;
  grid-template-rows: 3;
}
#buttons button {
  width: 4em;
}
#container {
  display: grid;
  place-items: Center;
  height: 100%;
}
#centerBox {
  display: grid;
  place-items: Center;
  width: 500px;
  gap: 1rem;
}

#divider {
  width: 100%;
  border-top: 3px solid white;
  margin-top: 75px;
}
#new {
  margin: 0;
}
