html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  height: 100%;
  font-family: "Josefin_Sans";
  overflow: hidden;
}
@font-face {
  font-family: "PT_Sans";
  src: url("fonts/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
  font-family: "Josefin_Sans";
  src: url("fonts/Josefin_Sans/static/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: "Staatliches";
  src: url("fonts/Staatliches.ttf");
}
input {
  font-size: 2rem;
  text-align: center;
  font-family: "Josefin_Sans";
  border-radius: 5px;
}
button {
  font-family: "staatliches";
  font-size: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}
.title {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5em;
}
.hidden {
  display: none;
}
#homepage,
#gamepage {
  height: 100%;
}
@media (max-width: 700px) {
  .title {
    font-size: 3rem;
  }
}
